{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} About the project {% endblock %}</h1>
<p>
    This tutorial has introduced the essential concepts of the Flask Python framework. You learned how to create a small
    web application, run it in a development server and allow the user to provide custom data via URL parameters and web
    forms. You've also used the Jinja template engine to reuse HTML files and use logic within them. By the end of this
    tutorial, you now have a fully functional web blog that interacts with an SQLite database to create, display, modify
    and delete blog posts using Python and SQL queries.
</p>
{% endblock %}